html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.container {
	height: 100%;
	width: 100%;
}

#inner {
	position: relative;
	height: 300px;
	width: 50%;
	background-color: #FFC500;
	margin: 0 auto;
	margin-top: 160px;
	box-shadow: 5px 5px 5px #bbb;
}

.btn {
	position: absolute;
	right:    20px;
	bottom:   20px;
}
.fa {
	position: absolute;
	left:    20px;
	top:   20px;
	color: #fff;
}

#quote {
	width: 80%;
	position: relative;
	top: 40px;
	left: 80px;
	font-size: 24px;
	color: #fff;
	font-family: font-family: 'Vollkorn', serif;
}